@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'),
       local('Lato-Hairline'),
       url(https://fonts.gstatic.com/s/lato/v11/Kom15zUm24dIPfIRiNogNuvvDin1pK8aKteLpeZ5c0A.woff)
       format('woff');
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: 'Lato', sans-serif;
}

li {
    list-style-type: none;
}

hr {
    margin-left: 5em;
    margin-right: 2em;
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content {
    text-align: center;
    display: inline-block;
}

.inner {

    display: inline-block;
    text-align: justify;
    text-justify: inter-word;
}

.title {
    font-size: 96px;
    color: lightblue;
}

.line {
    background-color: lightgray;
    height: 1px;
    width: 25em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.circle {
    border-radius: 10em;
    height: 2em;
    width: 2em;
    background-color: lightgrey;
    margin-left: 2em;
}

.v-line {
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: red;
    z-index: -1;
}

.article-title {
    font-size: 30px;
    margin: 0 auto;
}
